* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mainContainer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Subjects {
    width: 90vh;
}

.SubjectsNav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5em 0;
}

.inputInHeader {
    width: 30%;
}

.subjectBox {
    border: solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-bottom: 7px;
    padding: 4px;
}

.subjectName {
    margin-bottom: 5px;
}

.modalPannel {
    display: flex;
    
    justify-content: center;
}

.rightModalPannel {
    display: flex;
    flex-direction: column;
}

.modalEditSelectPannel {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.modalSubPannel {
    display: flex;
    gap: 1em;
    align-items: center;
}

.modalFormEditList {
    display: inline;
    padding-top: 10px;
}

@media (min-width: 445px) and (max-width: 820px) {
    .Subjects {
        width: 50vh;
    }
    .inputInHeader {
        width: 50%;
    }
}

@media (min-width: 320px) and (max-width: 445px) {
    .Subjects {
        width: 30vh;
    }
    .SubjectsNav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0.5em 0;
        gap: 7px;
    }
    .inputInHeader {
        width: 100%;
    }
    .subjectBox {
        border: solid 2px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        align-content: center;

        margin-bottom: 7px;
        padding: 4px;
    }
}